
*{
    margin: 0;
    font-family: 'Special Elite', cursive;
}

img{
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    color: #f5fff6;
}
ul{
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;


}
li{
    list-style: none;
    color:#f5fff6 ;
    font-size: 24px;
    margin-left: 25px;
    margin-right: 15px;
    padding: 20px;
    background:rgba(10, 71, 17, 0.8);

}

header{
    background: url("../img/IMG_8408.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.name{
    max-width: 980px;
    background:rgba(48, 77, 46, 0.8);
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    transform: translateY(30%);
    z-index: 1;
}
.green{
    position: absolute;
    margin: 0 auto;
    left: -68px;
    right: 0;
    bottom: -13%;
    max-width: 980px;
    height: 210px;
    background:rgba(10, 71, 17, 0.8);
}

.portfolio{
    background: #f5fff6;
}

.row{
    padding-top: 100px;

    display: flex;
    justify-content: space-between;
}

.banner{
    max-width: 600px;
    position: relative;
}

.hover{
    opacity:0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(48, 77, 46, 0.8);
    transition: 0.7s;
}


.portfolio a{
    position: absolute;
    background: darkgreen;
    color:#f5fff6;
    border: none;
    padding: 10px 24px;
    left: 37%;
    transform: translateX(37%);
    top: 50%;
}

.banner:hover .hover{
    cursor: pointer;
    opacity: 1;

}

.container{
    max-width: 1400px;
    margin: 0 auto;
}


h3{
    position: relative;
    font-family: 'Special Elite', cursive;
    color:  #f5fff6;
    font-size: 40px;
    letter-spacing: 6px;
    line-height: 50px;
    padding: 30px;
    z-index: 2;
}

@media all and (max-width: 1200px){
    .row{
        display: block;

    }
    .banner{
        margin: 50px auto;

    }

}

@media all and (max-width: 800px){
   .green{
       display: none;
   }
    .name{
        top: 22%;
    }

}

@media all and (max-width: 500px){

    h3 {
        font-size: 25px;
        line-height: 40px;
    }
    li{
        font-size: 16px;
    }
}

@media all and (max-width: 330px){

    h3 {
        font-size: 25px;
        line-height: 30px;
    }
}